@import "../../css/_config";

.plan-layout {
  .plan-header {
    background-color: $greyf7;
    display: inline-flex;
    position: relative;
    display: none;
    border-bottom: 1px solid $greyed;

    @include media-breakpoint-up(md) {
      display: block;
    }

    &.mobile {
      display: none;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    .title-wrapper {
      height: 76px;
      display: inline-flex;
      align-items: flex-start;
      flex-direction: row;
      align-items: center;

      .back {
        text-indent: -9999px;
        background-image: url("../../img/ico_back_black.svg");
        background-position: 12px center;
        background-repeat: no-repeat;
        background-size: 7px auto;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        flex-shrink: 0;
        margin: 0px 7px;

        @include media-breakpoint-up(lg) {
          &:hover {
            background-color: $greydc;
          }
        }
      }

      .title {
        @include ellipsis-lines(2);
        font-size: 22px;
        line-height: 30px;
        color: $grey20;
        text-align: left;
        padding: 0px;

        @include media-breakpoint-down(md) {
          padding: 0 15px 0 0;
        }
      }
    }

    .info {
      display: inline-flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 14px 0 14px 30px;
      height: 100%;
      min-width: 150px;

      @include media-breakpoint-down(md) {
        display: none;
      }

      .tag {
        @include ellipsis;
        font-size: 12px;
        line-height: 18px;
        font-weight: 900;
        text-align: center;
        border-radius: 11px;
        padding: 0 5px;
        color: $grey6d;
        border: 2px solid $grey6d;
        margin: auto 0;
      }

      .update {
        margin: auto 0 0 0;
        font-size: 12px;
        color: $grey6d;
        line-height: 16px;
      }
    }

    .search-wrapper {
      margin: 0;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 30px;

      @include media-breakpoint-down(md) {
        display: none;
      }

      .search {
        // see standalone stylesheet
      }
    }
  }

  .plan-toolbar {
    // see standalone stylesheet
  }

  .plan-sections {
    padding: 0px 0 0px 0;
    overflow: auto;
    min-height: 90vh;
    display: grid;

    .plan-scroll {
      width: 100%;
      background-color: $greyfa;
      display: inline-flex;
      flex-direction: column;
    }

    .plan-row {
      // see standalone stylesheet for breadcrumb and info
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 30px 0 45px;
      background-color: $greyfa;
      min-width: 100%;

      .section-info {
        margin: 0 2px 0 0;
      }
    }

    .wrapper-sections {
      position: relative;
      margin: 0 0 30px 0;
      padding: 0 30px 0 0;
      display: inline-flex;

      @include media-breakpoint-down(md) {
        padding: 0 0px 0 0;
      }
    }
  }

  .plan-text-search {
    padding: 15px 0 30px 0;
    background-color: $greyfa;
    min-height: 100vh;

    .search-loader-wrapper {
      margin-top: 20%;
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .loader {
        margin: 0;
        width: 48px;
        height: 48px;
        background-size: 48px 48px;
      }

      .search-loader-message {
        margin-bottom: 1rem;
        font-size: 14px;
        color: $grey20;
        text-align: center;
      }
    }

    .search-result {
      //see standalone stylesheet
    }
  }

  .modal {
    position: absolute;
  }
}
