@import "../../css/_config";
$path: "../../";

.success {
  margin: 0 auto;

  .title-success {
    font-size: 42px;
    color: $blue2c;
    text-align: center;
    font-weight: 300;
    margin: 76px auto 66px auto;

    @include media-breakpoint-up(lg) {
      margin: 146px auto 66px auto;
    }
  }

  .logo-success {
    height: 190px;
    background-color: transparent;
    background-image: url($path + "img/ico_success_password.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 323px 190px;
    margin: 0 auto 60px auto;
  }

  .back-home {
    background-color: $blue2c;
    width: 163px;
    height: 34px;
    color: $white;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
  }

  .back-home:hover {
    background-color: $blue26;
  }
}
