@import "../../css/_config";
$path: "../../";

.email {
  width: 320px;
  margin: 0 auto;

  @include media-breakpoint-up(sm) {
    width: 390px;
  }

  h1 {
    font-size: 42px;
    color: $blue2c;
    text-align: center;
    font-weight: 300;
    margin: 90px auto 30px auto;

    @include media-breakpoint-up(lg) {
      margin: 130px auto 60px auto;
    }
  }

  .form-label {
    font-size: 16px;
    color: $grey65;
    text-align: left;
    margin: 0 25px 8px 25px;
    font-weight: 600;
  }

  .form-input-email {
    background-color: $white;
    border: 1px solid $greyc7;
    width: calc(100% - 50px);
    height: 48px;
    line-height: 48px;
    line-height: normal;
    font-size: 16px;
    color: $black;
    border-radius: 4px;
    text-align: left;
    padding: 10px 10px 10px 46px;
    margin: 0 25px 5px 25px;

    &.email-icon {
      background-image: url($path + "img/ico_email_black.svg");
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 20px 16px;
    }

    &:focus,
    &.filled {
      border: 1px solid $blue2c;
      box-shadow: none;
      outline: none;
    }

    &.invalid {
      border: 1px solid $redde;
    }
  }

  .error-email {
    color: $redde;
    margin-top: 10px;
    background-image: url($path + "img/error_red.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 20px auto;
    padding-top: 30px;
    height: 50px;

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
    }
  }

  .error-space {
    @include media-breakpoint-up(lg) {
      height: 70px;
    }
  }

  .button-submit {
    background-color: $blue2c;
    width: 89px;
    height: 36px;
    border: none;
    color: $white;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    margin: 40px auto 40px auto;

    &:focus,
    &:hover {
      border: 1px solid $blue23;
      background: $blue23;
      outline: none;
    }
  }
}
