@import "../../css/_config";
$path: "../../";

.new-password {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;

  @include media-breakpoint-up(sm) {
    width: 390px;
  }

  .title {
    font-size: 42px;
    color: $blue2c;
    font-weight: 300;
    margin: 34px auto 30px auto;

    @include media-breakpoint-up(lg) {
      margin: 80px auto 70px auto;
    }
  }

  .offset {
    margin: 0 0 0 40px;
  }

  .label-password {
    font-size: 16px;
    color: $grey65;
    text-align: left;
    margin: 0 0 8px 0px;
    font-weight: 600;
  }

  input.form-new-password {
    background-color: $white;
    border: 1px solid $greyc7;
    height: 48px;
    width: calc(100% - 40px);
    line-height: 48px;
    font-size: 16px;
    color: $black;
    border-radius: 4px;
    text-align: left;
    padding: 10px 10px 10px 46px;
    margin-right: 10px;

    @include media-breakpoint-up(lg) {
      width: 310px;
    }

    &.password {
      background-image: url($path + "img/ico_password_black.svg");
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 16px 20px;
    }

    &:focus,
    &.filled {
      border: 1px solid $blue2c;
      box-shadow: none;
      outline: none;
    }

    &.invalid {
      border: 1px solid $redde;
    }
  }

  .toggle-password {
    width: 20px;
    height: 16px;
    margin: 16px 10px 16px 0;
    background-image: url($path + "img/ico_eye_close_grey.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 16px;
    cursor: pointer;
    float: right;

    &.filled {
      background-image: url($path + "img/ico_eye_close_black.svg");
    }

    &.open {
      background-image: url($path + "img/ico_eye_open_blue.svg");
    }
  }

  .constraints-password {
    text-align: left;
    padding-left: 0px;
    margin: 20px 40px 20px 0px;
    font-size: 16px;
    font-weight: 400;
  }

  .password-icon {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    padding-left: 25px;

    &.valid {
      background-image: url($path + "img/ico_constraints_password_green.svg");
      color: $green00;
    }

    &.invalid {
      background-image: url($path + "img/ico_constraints_password_red.svg");
      color: $redde;
    }
  }

  .password-reliability {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    height: 32px;
    background-color: $greyf1;
    color: $grey65;
    border-radius: 4px;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding: 6px 10px 6px 12px;
    margin: 0 40px 20px 0;

    &.weak {
      background-color: $redf9;
    }

    &.average {
      background-color: $yellowff;
    }

    &.strong {
      background-color: $greend6;
    }

    .p-reliability-password {
      float: right;
      padding-right: 12px;
      color: $black;
    }
  }

  .button-submit {
    font-size: 14px;
    width: auto;
    background: $blue2c;
    height: 36px;
    padding: 0 30px;
    color: $white;
    border-radius: 4px;
    border: 1px solid $blue2c;
    font-weight: 500;
    margin: 0px 0px 44px auto;

    &:focus,
    &:hover {
      border: 1px solid $blue23;
      background: $blue23;
      outline: none;
    }
  }

  .error-password {
    color: $redde;
    background-image: url($path + "img/error_red.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 20px 18px;
    padding-top: 30px;
    height: 50px;
    margin: 24px auto 30px auto;
  }

  .error-space {
    height: 30px;
  }

  .processing {
    .processing-message {
      margin-top: 10px;
      font-weight: 300;
      color: $grey65;
      font-size: 20px;
    }
  }
}
