@import "../../../css/_config";

.no-plan {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 104px;
  padding-bottom: 56px;
  font-size: 22px;
  font-weight: 300;

  @include media-breakpoint-down(md) {
    padding-top: 139px;
    font-size: 16px;

    .hidden-mobile {
      display: none;
    }
  }

  .image {
    margin: auto;
    height: 271px;
    width: 271px;
    background-image: url("../../../img/ico_no_plans.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 271px auto;

    @include media-breakpoint-down(md) {
      height: 187px;
      width: 187px;
      background-size: 187px auto;
    }
  }
}
