@import "../../../css/_config";

.modal-warning {
  display: none;

  @include media-breakpoint-down(lg) {
    display: block;
  }

  .modal {
    top: 260px;
    .image {
      margin: auto;
      margin-top: 30px;
      margin-bottom: 15px;
      background-image: url("../../../img/ico_warning_mobile.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 120px auto;
      border-radius: 13px;
      height: 120px;
      width: 120px;
    }

    .modal-text {
      text-align: center;
      font-size: 19.2px;
      padding: 0 5px 0 5px;
    }

    .modal-button {
      margin: auto;
      margin-top: 36px;
      margin-bottom: 15px;
      padding: 7px 15px 7px 15px;
      font-size: 19.2px;
      background-color: $orangeff;
      color: $white;
      border-radius: 32px;
      border-color: transparent;
    }

    @include media-breakpoint-down(md) {
      width: 94%;
    }
  }
}
