@import "./_config";

.error-message {
  .bar {
    background-color: $blue23;

    .logo {
      background-image: url("../img/logo_r_white.svg");
      background-position: center left;
      background-repeat: no-repeat;
      background-size: 25px auto;
      display: block;
      margin: 0px 0 0px 15px;
      width: 43px;
      height: 43px;
      text-indent: -9999px;
    }
  }

  .content {
    margin-top: 30px;
    padding: 15px;
    display: inline-block;

    @include media-breakpoint-up(md) {
      padding: 0 0 0 10%;
    }

    .message {
      font-size: 32px;
      color: $blue23;
      font-weight: 300;
      //padding-left: 40px;
      //background-image: url('../img/logo/anim.gif');
      background-position: center left;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      margin: 50px auto 50px;
    }

    .reason {
      font-size: 22px;
      color: #333333;
      font-weight: 300;
      margin: 0 auto 50px;
    }

    .resolution {
      font-size: 16px;
      color: #4b4b4b;
      font-weight: 500;
      margin: 0 auto 30px;
    }

    .message,
    .reason,
    .resolution {
      a,
      a:hover {
        color: $blue23;
        text-decoration: none;
      }
    }

    .button {
      background: $blue23;
      border: 1px solid $blue23;
      color: $white;
      font-size: 16px;
      line-height: 24px;
      padding: 10px 50px;
      margin: 0 30px 15px 0;
      border-radius: 55px;
      text-decoration: none;
      display: block;
      float: left;
    }
  }

  .graphic {
    margin-top: 90px;

    @include media-breakpoint-up(md) {
      padding-right: 10%;
      background-size: 70% auto;
      background-position: top left 20%;
    }

    @include media-breakpoint-up(xl) {
      padding-right: 10%;
      background-size: contain;
      background-position: top left 20%;
    }

    background-image: url("../img/illustration.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80vw;
    min-height: 400px;
  }
}
