@import "./_config";

.loader {
  animation: load 1s linear infinite;
  width: 24px;
  height: 24px;
  background-image: url("../img/loader_circle.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  margin: auto;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
