@import "./_config";

.password {
  // uses a random hash to prevent apply styling from other modules
  .logo {
    height: 70px;
    background-color: transparent;
    background-image: url("../img/logo_blue_center.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 175px auto;
    margin: 50px auto 50px auto;
  }

  .back-home {
    font-size: 12px;
    text-align: center;

    .link-back-home {
      text-decoration: none;
      font-weight: 600;
      color: $grey65;
    }
  }

  // email (step 1)
  @import "./Password.email";

  // MFP (step 2)
  @import "./Password.code";

  // Reset password (step 3)
  @import "./Password.newpassword";

  // Welcome (step 4)
  @import "./Password.success.scss";
}
