@import "../../css/_config";
$path: "../../";

.footer-public {
  .logo {
    background-color: transparent;
    background-image: url($path + "img/logo_r_white.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 17px auto;
    padding: 30px 0 30px 0;
    color: $white;
    font-size: 10px;
    font-weight: 400;
  }

  .links {
    display: inline-flex;

    .footer-item {
      margin: 0 15px 15px 15px;
      color: $white;
      font-size: 10px;
      font-weight: 600;

      a {
        color: $white;
        font-size: 10px;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
